table.gameTable {
	
}
table > tr > td {
	padding: 25px;
}

table, tr, td {
	border: 2px solid #A0522D; 
	border-collapse: collapse;
}

.selectedFocus {
	background-color: #8CEDF6 !important;
}

.piece {
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.black_king {
	background-image: url("../img/pieces/black_king.png");
}
.white_king {
	background-image: url("../img/pieces/white_king.png");
}
.black_pawn {
	background-image: url("../img/pieces/black_pawn.png");
}
.white_pawn {
	background-image: url("../img/pieces/white_pawn.png");
}
.black_queen {
	background-image: url("../img/pieces/black_queen.png");
}
.white_queen {
	background-image: url("../img/pieces/white_queen.png");
}
.black_rook {
	background-image: url("../img/pieces/black_rook.png");
}
.white_rook {
	background-image: url("../img/pieces/white_rook.png");
}
.black_knight {
	background-image: url("../img/pieces/black_knight.png");
}
.white_knight {
	background-image: url("../img/pieces/white_knight.png");
}
.black_bishop {
	background-image: url("../img/pieces/black_bishop.png");
}
.white_bishop {
	background-image: url("../img/pieces/white_bishop.png");
}

.avaliableMove {
	background-color: lightgreen !important;
}

.opponentPiece {
	background-color: red !important;
}





table {
	border: 8px solid #A0522D;
}

.darkBackground {
	background-color: #CDC0B0;
}

